.chat-container {
    width: 20vw;
    aspect-ratio: .7; 
}

.chat-history-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    height: 80%;
    width: 100%;
}